.auth {
	width: 100%;
	height: 100vh;
	background: linear-gradient(120deg, #f8345f, #5b33ad);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	h1{
		color: #fff
	}
	h2{
		color: #fff
	}

	form{
		width: 800px;
		padding: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 10px;
		margin-top: 100px;
		input{
			width: 400px;
			padding: 10px;
			border-radius: 10px;
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			-ms-border-radius: 10px;
			-o-border-radius: 10px;
			outline: none;
			border: none;

		}

		input[type="submit"]{
				background: linear-gradient(120deg, #f8345f, #5b33ad);
				color: #fff;
				font-weight: bold;
				font-size: 16px;
				cursor: pointer;
		}
	}
}